<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="tests" thread-count="2">
	
	<!--Emulator 
  <test name="EmulatorTest">
	  <parameter name="device" value="emulator"/>
    <classes>
      <class name="testPackage.logintest"/>
    </classes>
  </test> -->
  <!--Real device -->

  <test name="RealMobileTest">
	<parameter name="device" value="mobile"/>
    <classes>
      <class name="testPackage.logintest"/>
    </classes>
  </test> <!-- Test -->

  </suite> <!-- Suite -->
